.extensions {
  padding-bottom: rem(72);

    @include mediaBigDesktop {
       padding-bottom: big(72);
    }

   &__container {
    padding-top: rem(32);

    position: relative;

    @include mediaBigDesktop {
      padding-top: big(32);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: var(--container-offset);

      width: calc(100% - (var(--container-offset)) * 2);

      border-top: 1px solid rgba(228, 228, 228, 0.13);
    }

    @include mediaBigDesktop {
      padding-top: big(32);
    }

    @include big-desktop {
      --container-offset: #{rem(72)};
    }

    @include big-tablet {
      --container-offset: #{rem(15)};
    }

    @include mobile {
      padding-top: rem(24);
    }
  }

  &__title {
    margin-bottom: rem(48);

    font-size: rem(36);
    font-weight: 700;
    line-height: 110%;
    color: var(--colors-white);

    @include mediaBigDesktop {
      margin-bottom: big(48);

      font-size: big(36);
    }

    @include mobile {
      margin-bottom: rem(40);

      font-size: rem(28);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(50);

    @include mediaBigDesktop {
       gap: big(50);
    }
  }

  &__item {
    position: relative;
    max-width: rem(280);
    width: 100%;

    @include mediaBigDesktop {
      max-width: big(280);
    }

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: rem(100);
      height: rem(100);
    }

    &-link {
      &-video {
        width: rem(280);
        height: rem(400);

        object-fit: cover;
        border-radius: var(--radius-32);

        @include mediaBigDesktop {
          width: big(280);
          height: big(400);
        }
      }
    }

    &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(13, 13, 13, 0) 0%,
            #0d0d0d 100%
          );
        }
  }
}
