.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(8);

  &__promo {
    position: relative;

    max-width: rem(254);
    width: 100%;
    height: rem(56);
    display: flex;
    align-items: center;

    &-button {
      padding: rem(20) rem(32) rem(20) rem(16);

      position: absolute;

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: rem(16);

      background-color: var(--colors-dark-gray);
      border-radius: var(--radius-32);

      opacity: 1;
      visibility: visible;

      transition: opacity var(--animation-timing) var(--animation-transition),
        visibility var(--animation-timing) var(--animation-transition);

      &-image {
        width: rem(18);
        height: rem(18);

        fill: var(--colors-silver);

        transition: fill var(--animation-timing) var(--animation-transition);
      }

      &-description {
        font-family: var(--font-family-secondary);
        font-size: rem(18);
        font-weight: 400;
        line-height: 120%;
        color: var(--colors-white);

        transition: color var(--animation-timing) var(--animation-transition);
      }

      @include hover {
        & .form__promo-button-image {
          fill: var(--colors-accent);
        }

        & .form__promo-button-description {
          color: var(--colors-accent);
        }
      }
    }
  }

  &__label {
    position: relative;

    &.promo-label {
      opacity: 0;
      visibility: hidden;

      transition: opacity var(--animation-timing) var(--animation-transition),
        visibility var(--animation-timing) var(--animation-transition);
    }

    &-placeholder {
      position: absolute;
      top: 50%;
      left: rem(32);
      transform: translateY(-50%);

      font-family: var(--font-family-secondary);
      font-size: rem(18);
      font-weight: 400;
      line-height: 120%;
      color: var(--colors-white);
      user-select: none;

      transition: font-size var(--animation-timing) var(--animation-transition),
        top var(--animation-timing) var(--animation-transition),
        color var(--animation-timing) var(--animation-transition);
    }
  }

  &__input {
    padding: rem(17) rem(29);

    height: rem(56);

    font-family: var(--font-family-secondary);
    font-size: rem(18);
    font-weight: 400;
    line-height: 120%;
    color: var(--colors-white);

    background-color: var(--colors-dark-gray);
    border: rem(3) solid var(--colors-dark-gray);
    border-radius: var(--radius-32);
    outline: none;

    transition: border-color var(--animation-timing) var(--animation-transition);

    @include hover {
      border-color: var(--colors-silver);
    }

    &:focus-visible {
      border-color: var(--colors-silver);
    }

    &:focus-visible + .form__label-placeholder,
    &:not(:placeholder-shown) + .form__label-placeholder {
      top: 20%;

      font-size: rem(12);
      color: var(--colors-white-50);
    }
  }

  &__button {
    background: linear-gradient(
      90deg,
      var(--colors-grey) 0%,
      var(--colors-gainsboro) 25%,
      var(--colors-grey) 50%,
      var(--colors-gainsboro) 75%,
      var(--colors-grey) 100%
    );
  }

  .is-promo-active {
    opacity: 1;
    visibility: visible;
  }

  .is-promo-hidden {
    opacity: 0;
    visibility: hidden;
  }

  @include mediaBigDesktop {
    & {
      gap: big(8);

      &__promo {
        &-button {
          padding: big(20) big(32) big(20) big(16);

          gap: big(16);

          &-image {
            width: big(18);
            height: big(18);
          }

          &-description {
            font-size: big(18);
          }
        }
      }
    }
  }
}
