.header {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;

  background-color: rgba(13, 13, 13, 0.8);
  backdrop-filter: blur(45.5px);
  border-bottom: 1px solid rgba(228, 228, 228, 0.13);

  transform: translateY(-100%);
  transition: transform var(--animation-timing) var(--animation-transition);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    height: rem(64);
    display: flex;
    align-items: center;
  }

  & {
    .logo__link {
      height: rem(64);
      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
    }

    .logo__image {
      transform: rotate(-8deg);
    }
  }

  @include mediaBigDesktop {
    & {
      .logo__link {
        height: big(64);
      }

      &__block {
        height: big(64);
      }
    }
  }

  &.active {
    transform: translateY(0);
  }
}
