.hero {
  padding-top: rem(72);
  padding-bottom: rem(72);

  position: relative;

  @include mediaBigDesktop {
    padding-top: big(72);
    padding-bottom: big(72);
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;

    @include big-desktop {
      display: none;
    }
  }

  &__picture {
    display: none;

    @include big-desktop {
      & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        display: flex;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(13, 13, 13, 0.6) 0%,
            #0d0d0d 100%
          );
        }
      }

      &-image {
        width: 100%;
        object-position: 55% 15%;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: rem(96);

    @include mediaBigDesktop {
      gap: big(96);
    }

    @include big-desktop {
      --container-offset: #{rem(72)};
    }

    @include big-tablet {
      --container-offset: #{rem(15)};
    }
  }

  &__nav {
    margin-bottom: rem(64);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mediaBigDesktop {
      margin-bottom: big(64);
    }
  }

  &__title {
    margin-bottom: rem(32);

    font-size: rem(72);
    font-weight: 700;
    line-height: 100%;
    color: var(--colors-white);

    @include mediaBigDesktop {
      margin-bottom: big(32);

      font-size: big(72);
    }
  }

  & .social {
    margin-bottom: rem(64);

    justify-content: flex-start;

    @include mediaBigDesktop {
      margin-bottom: big(64);
    }
  }
}
