.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(8);

  &__link {
    padding: rem(4) rem(16) rem(4) rem(4);
    display: flex;
    align-items: center;
    gap: rem(16);

    font-family: var(--font-family-secondary);
    font-size: rem(16);
    font-weight: 400;
    line-height: 120%;
    color: var(--colors-white);
    user-select: none;

    border-radius: var(--radius-32);

    transition: color var(--animation-timing) var(--animation-transition);

    &--instagram {
      background-color: var(--colors-brown);
    }

    &--vk {
      background-color: var(--colors-haiti);
    }

    &--telegram {
      background-color: var(--colors-midnight);
    }

    &--phone {
      background-color: var(--colors-dark-gray);
    }

    &-image {
      z-index: 1;

      width: rem(32);
      height: rem(32);
    }

    @include hover {
      color: var(--colors-accent);
    }
  }

  @include mediaBigDesktop {
    & {
      gap: big(8);

      &__link {
        padding: big(4) big(16) big(4) big(4);
        gap: big(16);

        font-size: big(16);

        &-image {
          width: big(32);
          height: big(32);
        }
      }
    }
  }
}
