<section class="examples" id="examples" data-scroll>
  <div class="container examples__container">
    <h2 class="examples__title">Примеры работ</h2>
  </div>
  <div class="container">
    <div class="examples__swiper swiper-examples swiper">
      <div class="swiper-wrapper">
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after1.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before1.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before1.png" width="164" height="360" alt="Изображение волос до">
            </picture>

            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after1.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after1.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after2.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before2.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before2.png" width="164" height="360" alt="Изображение волос до">
            </picture>

            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after2.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after2.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after3.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before3.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before3.png" width="164" height="360" alt="Изображение волос до">
            </picture>

            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after3.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after3.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after4.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before4.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before4.png" width="164" height="360" alt="Изображение волос до">
            </picture>

            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after4.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after4.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after1.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before1.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before1.png" width="164" height="360" alt="Изображение волос до">
            </picture>
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after1.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after1.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
        <div class="examples__slide swiper-slide examples-slide">
          <a class="examples__wrapper" data-fancybox="gallery" href="img/examples/after2.png">
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/before2.webp" type="image/webp">
              <img class="examples__wrapper-picture-image" loading="lazy" src="img/examples/before2.png" width="164" height="360" alt="Изображение волос до">
            </picture>
            <picture class="examples__wrapper-picture">
              <source srcset="img/examples/after2.webp" type="image/webp">
              <img class="examples__wrapper-picture-image examples-after" loading="lazy" src="img/examples/after2.png" width="164" height="360" alt="Изображение волос после">
            </picture>
          </a>
        </div>
      </div>

      <button class="examples__button examples__button-prev btn-reset mobile-tap">
        <svg class="examples__button-image examples__button-image-prev">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <div class="examples__gradient examples__gradient-left"></div>

      <button class="examples__button examples__button-next btn-reset mobile-tap">
        <svg class="examples__button-image examples__button-image-next">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <div class="examples__gradient examples__gradient-right"></div>
    </div>
  </div>
</section>
