<section class="extensions" id="extensions">
  <div class="container extensions__container">

    <h2 class="extensions__title">
      Наращивание
    </h2>

    <ul class="extensions__list list-reset">
      <li class="extensions__item">

        <img loading="lazy" src="img/extensions/play.svg" class="extensions__item-image" width="48" height="48" alt="Иконка play">

        <a href="video/video1.mp4" class="extensions__item-link mobile-tap" data-fancybox="video-gallery">
          <video class="extensions__item-link-video">
            <source src="video/video1.mp4" type="video/mp4">
            Ваш браузер не поддерживает воспроизведение видео.
          </video>
        </a>
      </li>
      <li class="extensions__item">

        <img loading="lazy" src="img/extensions/play.svg" class="extensions__item-image" width="48" height="48"
          alt="Иконка play">

        <a href="video/video2.mp4" class="extensions__item-link mobile-tap" data-fancybox="video-gallery">
          <video class="extensions__item-link-video">
            <source src="video/video2.mp4" type="video/mp4">
            Ваш браузер не поддерживает воспроизведение видео.
          </video>
        </a>
      </li>
      <li class="extensions__item">

        <img loading="lazy" src="img/extensions/play.svg" class="extensions__item-image" width="48" height="48"
          alt="Иконка play">

        <a href="video/video3.mp4" class="extensions__item-link mobile-tap" data-fancybox="video-gallery">
          <video class="extensions__item-link-video">
            <source src="video/video3.mp4" type="video/mp4">
            Ваш браузер не поддерживает воспроизведение видео.
          </video>
        </a>
      </li>
    </ul>
  </div>
</section>
