<footer class="footer">
  <div class="container footer__container">
    <div class="footer__information">
      @include('social.html')
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <p class="footer__item-mode">
            Пн-Вс 10:00-22:00
          </p>
        </li>
        <li class="footer__item">
          <p class="footer__item-address">
            Москва, ул. Ряжская, 13 К1
          </p>
        </li>
      </ul>
    </div>

    <p class="footer__meta">
      Компания Meta Platforms Inc., владеющая социальными сетями Facebook и Instagram, по решению суда от 21.03.2022 признана экстремистской организацией, ее деятельность на территории России запрещена.
    </p>
  </div>
</footer>
