<form class="form form-validate">
  <div class="form__promo">
    <button
      class="form__promo-button btn-reset mobile-tap button__shine promo-button"
      type="button"
    >
      <svg class="form__promo-button-image">
        <use xlink:href="img/sprite.svg#plus"></use>
      </svg>

      <span class="form__promo-button-description">
        <span class="form__promo-button-description--hero">Добавить промокод</span>
        <span class="form__promo-button-description--contacts">Промокод</span>
      </span>
    </button>
    <label class="form__label promo-label">
      <input class="form__input promo-input" type="text" placeholder=" ">
      <span class="form__label-placeholder">Введите промокод</span>
    </label>
  </div>
  <label class="form__label">
    <input class="input-reset form__input input-name" type="text" name="Имя" placeholder=" " required>
    <span class="form__label-placeholder">Введите ваше имя</span>
  </label>
  <label class="form__label">
    <input class="input-reset form__input input-tel" type="tel" name="phone" placeholder=" " required>
    <span class="form__label-placeholder">Ваш контакт</span>
  </label>
  <button class="form__button btn-reset mobile-tap">
    Связаться с нами
  </button>
</form>
