<section class="price" id="price" data-scroll>
  <div class="container price__container">
    <div class="price__content">
      <h2 class="price__title">
        Работа + волосы
      </h2>

      <div class="price__wrapper">
        <div class="price__description">
          <span class="price__description-service">Услуга</span>
          <span class="price__description-price">Цена</span>
        </div>

        <ul class="price__list list-reset">
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
