<section class="price" id="price" data-scroll>
  <svg
    class="price__line"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1536 678"
    fill="none"
  >
    <path
      id="animatedPathPrice"
      opacity="0.25"
      d="M-39.4258 415.408C-2.44172 288 89.5419 34.327 161.604 38.8984C251.682 44.6126 286.708 560.24 174.589 523.319C62.4687 486.398 189.351 318.214 341.349 347.144C493.348 376.074 783.654 608.13 710.775 665.225C605.735 747.515 367.112 157.55 566.064 182.228C765.393 206.953 1000.32 588.622 871.153 544.307C741.987 499.993 749.745 50.9791 805.99 102.651C842.993 136.647 639.238 228.21 616.41 117.48C606.946 71.5719 655.59 -27.2668 892.288 14.5553C1142.9 58.8353 1295.48 321.329 1194.38 493.677C1089.21 672.975 893.472 473.834 1086.38 352.109C1240.71 254.729 1481.54 279.888 1601.49 308.655"
      stroke="#232323"
      stroke-width="8"
    />
  </svg>

  <div class="container price__container">
    <div class="price__content">
      <h2 class="price__title">Работа + волосы</h2>

      <div class="price__wrapper">
        <div class="price__description">
          <span class="price__description-service">Услуга</span>
          <span class="price__description-price">Цена</span>
        </div>

        <ul class="price__list list-reset">
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
          <li class="price__item">
            <span class="price__item-service">Обесцвечивание корней</span>
            <span class="price__item-price">От 2300₽</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
