<ul class="list-reset social" title="Телефон и социальные сети">
  <li class="social__item">
    <a
      href="#"
      target="_blank"
      class="social__link social__link--instagram button__shine mobile-tap"
      aria-label="Наша страничка в Инстаграм"
    >
      <img
        loading="lazy"
        src="img/social/instagram.svg"
        class="social__link-image"
        width="32"
        height="32"
        alt="Иконка Инстаграм"
      />
      <span class="social__link-description">Instagram</span>
    </a>
  </li>
  <li class="social__item">
    <a
      href="#"
      target="_blank"
      class="social__link social__link--vk button__shine mobile-tap"
      aria-label="Наша страничка во Вконтакте"
    >
      <img
        loading="lazy"
        src="img/social/vk.svg"
        class="social__link-image"
        width="32"
        height="32"
        alt="Иконка Инстаграм"
      />
      <span class="social__link-description">Вконтакте</span>
    </a>
  </li>
  <li class="social__item">
    <a
      href="#"
      target="_blank"
      class="social__link social__link--telegram button__shine mobile-tap"
      aria-label="Наша страничка в Телеграм"
    >
      <img
        loading="lazy"
        src="img/social/telegram.svg"
        class="social__link-image"
        width="32"
        height="32"
        alt="Иконка Инстаграм"
      />
      <span class="social__link-description">Telegram</span>
    </a>
  </li>
  <li class="social__item">
    <a
      href="tel:+79856139393"
      target="_blank"
      class="social__link social__link--phone button__shine mobile-tap"
      aria-label="Наш Телефон"
    >
      <img
        loading="lazy"
        src="img/social/phone.svg"
        class="social__link-image social__link-image--phone"
        width="32"
        height="32"
        alt="Иконка Инстаграм"
      />
      <span class="social__link-description social__link-description--phone">+7 985 613-93-93</span>
    </a>
  </li>
</ul>
