// если вы хотите использовать sass-переменные - удалите root
:root {
  // base
  --font-family: "Mont", sans-serif;
  --font-family-secondary: "Roboto-Flex", sans-serif;
  --content-width: #{rem(1344)};
  --container-offset: #{rem(0)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --colors-black: #0d0d0d;
  --colors-white: #e4e4e4;
  --colors-brown: #331d1d;
  --colors-haiti: #241e31;
  --colors-midnight: #241e31;
  --colors-dark-gray: #232323;
  --colors-accent: #fcb30a;
  --colors-silver: #d3d3d3;
  --colors-grey: #7e7e7e;
  --colors-gainsboro: #e3e3e3;
  --colors-white-50: rgba(228, 228, 228, 0.50);
  --colors-silver-gradient: linear-gradient(
      140deg,
      var(--colors-grey) 0%,
      var(--colors-gainsboro) 25%,
      var(--colors-grey) 50%,
      var(--colors-gainsboro) 75%,
      var(--colors-grey) 100%
    );

  // border-radius
  --radius-16: #{rem(16)};
  --radius-24: #{rem(24)};
  --radius-32: #{rem(32)};
  --radius-100: #{rem(100)};

  // animation
  --animation-timing: .3s;
  --animation-transition: ease-in-out;

  @include mediaBigDesktop {
    --content-width: #{big(1344)};
    --container-offset: #{big(0)};

    --radius-16: #{big(16)};
    --radius-24: #{big(24)};
    --radius-32: #{big(32)};
    --radius-100: #{big(100)};
  }
}
